/* Google Fonts Lato */
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');

*{
	margin:0;
	padding: 0;
}


body{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	line-height: 24px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Lato', sans-serif;
}
a{
	text-decoration: none;
	font-family: 'Lato', sans-serif;
}
section{
    width: 100%;
    float: left;
}
header{
	width: 100%;
	display: block;
	background: #F6F9F9;
}

/************************
	** Global Css code 
	Goes Here...
*************************/
/*
.container{
	width: 1140px;
	margin: 0px auto;
}
.row{
	width: 100%;
	display: block;
}
.col-md-12{
	width: 100%;
	display:block;
}
.col-md-6{
	width: 50%;
	float: left;
	display: block;
}
.col-md-4{
	width: 33.33%;
	float: left;
	display: block;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.divider{
	width: 30%;
    margin: 20px auto;
    height: 1px;
    background: #15A4FA
}
*/
/************************
	** Global Css code 
	End Here...
*************************/

.logo{
	padding: 15px;
	display: block;
}

/************************************
	** Banner Section code goes here
*************************************/


.banner{
	width: 100%;
	display: block;
	background: url(../img/banner/banner.png) center top;
	background-size: cover;
	background-repeat: no-repeat;
}

.banner .banner-inner{
	width: 100%;
	display: block;
	padding: 155px 0px 50px 0px;
}
.banner-inner h1{
	font-size: 80px;
    line-height: 80px;
    font-weight: 400;
    margin-bottom: 25px;
    color: #fff;
}
.banner-inner p{
	font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 25px;
}
.banner .banner-inner .call-to-action{
	width: 100%;
    display: block;
    margin: 60px 0px;
}
.banner-inner .btn-info{
	padding: 15px 35px;
    color: #fff;
    background: transparent;
    border: 1px solid #15A4FA;
    border-radius: 2px;
}
.banner-inner .btn-info:hover{
	background: #15A4FA;
}
.banner-inner .bootm-arrow{
	width:100%;
	display: block;
	margin-top: 150px;
}
.about-us{
	width:100%;
	display: block;
	background: #F6F9F9;
	padding: 70px 0px;
}
.about-us .about-inner{
	width: 100%;
	display: block;
}

.about-us .about-inner h1{
	font-size: 36px;
	line-height: 36px;
	margin-bottom: 16px;	
	font-weight: normal;
}
.about-us .about-inner p{
	font-size: 16px;
	line-height: 26px;	
	font-weight: normal;
}

/*
*********************************
	Fetured Area code Goes here
**********************************
*/
.fetured-area{
	width: 100%;
	float: left;
	padding: 60px 0px;
	display: block;
}
.fetured-area .fetured-box{
	width: 100%;
    float: left;
    padding: 10px 18px;
}
.fetured-area .fetured-box img{
	margin-bottom: 10px;
}
.fetured-area .fetured-box h4{
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 10px;	
	font-weight: normal;
}
.fetured-area .fetured-box p{
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;	
	font-weight: normal;
	width: 75%;
	margin: 0 auto;
}


/**********************************
	Portfolio Area code Goes here
***********************************/

.portfolio-section{
	width: 100%;
	float: left;
	padding: 60px 0px;
	background: #f6f9f9;
}
.portfolio-item{
	position: relative;
	transition: 0.4s;
	width: 360px;
	height: 260px;
	margin-bottom: 20px;
}
.portfolio-title.text-center {
    width: 100%;
    margin-bottom: 42px;
    line-height: 38px;
}

.portfolio-title.text-center h1 {
    font-size: 33px;
    font-weight: normal;
    line-height: 48px;
}

.portfolio-title.text-center p {
    font-size: 17px;
    line-height: 52px;
}
.portfolio-item img{
	width: 100%;
}
.portfolio-hover{
	position: absolute;
	width: 360px;
	height: 260px;
	top: 0;
	left: 0;
	background: rgba(21,164,250,0);
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-o-transition: 0.8s;
	transition: 0.8s;
}
.portfolio-item:hover .portfolio-hover{
	background: rgba(21,164,250,.7);
}

/*
*********************************
	Stay with Us Area code Goes here
**********************************
*/

/*
section.stay-with-us {
    width: 100%;
    float: left;
    background: url(../img/banner/stay.png);
    background-repeat: no-repeat;
    display: block;
    padding: 80px 0px;
}
*/
.col-md-12.title-section {
    margin-bottom: 55px;
}
.stay-with-us .title{
	font-size: 36px;
	line-height: 36px;
	margin-bottom: 10px;
	color: #fff;	
	font-weight: normal;
}
.stay-with-us .sub-title{
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 10px;
	color: #fff;	
	font-weight: normal;
}
.stay-with-us .contact-form{
	width: 45%;
	margin: 25px auto;
}

/**********************************
	Contact Area code Goes here
***********************************/


.check-button-section {
    display: inline-flex;
    margin-top: 37px;
}

textarea {
    width: 100%;
    height: 105px;
    background: transparent;
    padding: 8px 13px;
    border-radius: 4px;
    border-color: #ced4da;
    font-size: 15px;
    color: white;
}

.form-group {
}

input#exampleInputPassword1 {
    background: transparent;
    padding: 26px 16px;
    color: white;
}

input#exampleInputEmail1 {
    background: transparent;
    padding: 26px 16px;
    color: white;
}
label.form-check-label {
    color: white;
}

.button-section {
    float: left;
    margin-left: 35px;
}
button.btn.btn-primary {
    float: right;
    width: 98px;
}

.col-md-6.form-check {
    margin-left: -12px;
}



/**********************************
	Footer Area code Goes here
***********************************/

footer{
	width: 100%;
	float: left;
	padding: 20px 0px;
	display: block;
	padding-bottom: 0px;
}

footer .col-md-6{
    
}
footer .col-md-6 ul{
    display: inline-flex;
    list-style: none;
    float: right;
}

footer .col-md-6 ul li{
    margin: 0px 12px;
    font-size: 20px;
}
footer .col-md-6 ul li a{
    color: #48baff;
}

footer .col-md-6 ul li a:hover{
    color: #007bff;
}





